/* FLEXBOX

        .container {

                display: flex | inline-flex
                flex-direction: row | row-reverse | column | column-reverse;
                flex-wrap: nowrap | wrap | wrap-reverse;
                flex-flow: <‘flex-direction’> || <‘flex-wrap’>
                justify-content: flex-start | flex-end | center | space-between | space-around;
                align-items: flex-start | flex-end | center | baseline | stretch;

        }

        .flex-container {

                * We first create a flex layout context *
                display: flex;

                * Then we define the flow direction and if we allow the items to wrap
                * Remember this is the same as:
                * flex-direction: row;
                * flex-wrap: wrap;

                flex-flow: row wrap;

                * Then we define how is distributed the remaining space *
                justify-content: space-around;


                .item {

                        order: <integer>;
                        flex-grow: <number>; default 0
                        flex-shrink: <number>; default 1
                        flex-basis: <length> | auto; default auto

                        flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
                        align-self: auto | flex-start | flex-end | center | baseline | stretch;


                }

        }

*/

//* {
//        border: 1px solid white;
//}

body {
        color: black;
        font: 400 16px/1.0 "opensans", sans-serif;
}


.container {



}
