/* FLEXBOX

        .container {

                display: flex | inline-flex
                flex-direction: row | row-reverse | column | column-reverse;
                flex-wrap: nowrap | wrap | wrap-reverse;
                flex-flow: <‘flex-direction’> || <‘flex-wrap’>
                justify-content: flex-start | flex-end | center | space-between | space-around;
                align-items: flex-start | flex-end | center | baseline | stretch;

        }

        .flex-container {

                * We first create a flex layout context *
                display: flex;

                * Then we define the flow direction and if we allow the items to wrap
                * Remember this is the same as:
                * flex-direction: row;
                * flex-wrap: wrap;

                flex-flow: row wrap;

                * Then we define how is distributed the remaining space *
                justify-content: space-around;


                .item {

                        order: <integer>;
                        flex-grow: <number>; default 0
                        flex-shrink: <number>; default 1
                        flex-basis: <length> | auto; default auto

                        flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
                        align-self: auto | flex-start | flex-end | center | baseline | stretch;


                }

        }

*/

//* {
//        border: 1px solid white;
//}

body {
        color: white;
}

// HOMEPAGE

.container {

        &.container--wtf {

                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #0063ff;
                background-image: linear-gradient(-180deg, #0063FF 1%, #FF00F4 94%);

                .content {

                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        height: 100%;
                        padding: 6em;

                        main {

                                &.content__main {

                                        display: flex;
                                        flex-flow: row wrap;

                                        .main--adam-logo {

                                                height: 58px;
                                                flex: 1

                                        }
                                        .main--adam-info {

                                                height: 58px;
                                                flex: 2;
                                                display: flex;
                                                flex-direction: row;
                                                align-items: center;

                                                .main--adam-name {

                                                        flex:1;
                                                        font-family: 'Roboto', sans-serif;
                                                        font-weight: 500;
                                                        font-size: 18px;
                                                        letter-spacing: 2.99px;
                                                        line-height: 21px;
                                                        text-transform: uppercase;
                                                        text-align: right;

                                                        .grey { color: #C9C9C9;}

                                                }

                                                .main--adam-subtitle {

                                                        font-family: 'Roboto', sans-serif;
                                                        font-weight: 300;
                                                        font-size: 18px;
                                                        color: #FFFFFF;
                                                        letter-spacing: 1.49px;
                                                        line-height: 21px;
                                                         margin-left: 3em;

                                                }

                                        }

                                }

                        }

                }

        }

        // end HOMEPAGE

}
